.sketch-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.sketch-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.sketch-box {
    flex: 1;
}